@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#game {
    display: block;
    border: 1px solid lightgrey;
    margin: auto;
    padding: 0;
    position: relative;
    top: 15px;
}


#bgCanvas {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1; /* behind other elements */
    display: block;
    margin: auto;
    padding: 0;
}

#header{
    width: 360px;
    height: 50px;
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
    display: block;
    margin: auto;
    padding: 0; 
}
#livesCanvas {
    background-color: lightblue;
}
#guiCanvas, #helpCanvas, #livesCanvas {    
    float: left;
}

#guiCanvas, #game, #bgCanvas, #helpCanvas, #livesCanvas {
    image-rendering: pixelated;
}

#menu {
    display:flex;
    direction: ltr;
    justify-content: center;
}
#player {
    border: 1px solid red;
}

#start{
    width: 140px;
    height: 36px;
    margin-top: 20px;        
    font-family: 'Press Start 2P', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: #222034;  
    background: #5FCFD4;
    border: 0px;
    position: absolute;
    top:520px;
    box-shadow: 
    inset -4px 2px 1px 1px grey,
    inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;  
}

#start:hover {
    cursor: pointer;
    background-color: #40a1a6;
}
  
#start:active {
    top: 520px;
    box-shadow: 
    -4px 2px 1px 1px grey,
    -4px -2px 1px 1px lightgray,
    4px 0px 1px 1px lightgray; 
}
  
#start::after {
    content: '';
    background: #306082;
    position: absolute;
    left: -1%;
    top: 0;
    width: 102%;
    height: 100%;
    z-index: -1;
}
  
#start::before {
    content: '';
    background: #306082;
    position: absolute;
    left: 0;
    top: -3%;
    width: 100%;
    height: 108%;
    z-index: -1;
}

/*
@media (min-width: 768px) {
    #game {
        width: 360px;
        height: 680px;
    }
}
*/


#splash {
    position: absolute;
    top: 266px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.47);
    width: 360px;

}


#container {
    width: 360px;
    height: 180px;
    position: relative;
    top:-380px;
    left:50%;
    transform: translate(-50%, -50%);
}

#logo{
    position: absolute;
    top: 80px;
    left:50.5%;
    transform: translate(-50%, -50%);
    
}

#container1{
    width: 360px;
    height: 60px;
    position: relative;
    bottom:200px;
    left:50%;
    transform: translate(-50%, -50%);
}

#cat{
    position: absolute;
    height:50px;
    top: 20px;
    left:90px;
    transform: translate(-50%, -50%);
    z-index:10;
}


