@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#game {
    display: block;
    border: 1px solid lightgrey;
    margin: auto;
    padding: 0;
}

#menu {
    display: flex;
    direction: ltr;
    justify-content: center;
}
#player {
    border: 1px solid red;
}

#start{
    font-family: Silkscreen, sans-serif
}


/*
@media (min-width: 768px) {
    #game {
        width: 360px;
        height: 680px;
    }
}
*/